.todos {
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;

        input, label {
            color: rgb(45, 44, 44);
            margin-bottom: 10px;
        }
    }
}