<!-- Basics -->
<h3>Hello Angular 19! {{ title }}</h3>

<!-- String Interpolation -->
<h3>{{ name.toUpperCase().split("").reverse().join("") }}</h3>
<p>{{ "AVIRAL".toLowerCase() }}</p>
<p>{{ 2 + 2 }}</p>

<!-- Property Binding -->
<h4 [class]="heading_class">Heading 4</h4>
<img src="" [alt]="image_alt" />

<!-- Event Binding -->
<p><button (click)="counterAdd()">Click</button></p>
<p>Counter: {{ counterValue }}</p>

<!-- Two way Data Binding -->
<input type="text" value="" [(ngModel)]="projectName">
<p>Project: {{projectName}}</p>